$primary-color: #3A2F26 ;
$secondary-color: #a06b1b ;
$accent-color: #e0c9aa ;
$white-color: #ffffff ;
$black-color: #000000 ;
$full-bottom-padding: 8% ;
$full-top-padding: 8% ;
$bottom-padding: 4% ;
$top-padding: 4% ;